$dark-blue: #111a28;
$light-grey: #e1e1e1;
$soft-grey: #9da1a6;
$dark-grey: #202835;
$deep-purple: #1f273f;
$white: #fff;
$red: #ed3333;
$light-blue: #29e3ea;
$yellow: #f7bf16;

$msr100: 'Museo Sans Rounded 100';
